extends ../layout.jade
block contenido
	h2(class="Pacifico grande azul") Panel de Administrador
	table(class="table")
		caption Cursos Actuales
		thead
			tr
				th #
				th Nombre
				th Descripción
				th Precio
				th Imagen
				th Acciones
		tbody
			each course in courses
				tr

					td= course.id
					td= course.title
					td= course.description
					td= course.pricing
					td
						a(href="#{course.imageUrl}" class="btn") Ver Imagen
					td
						a(href="/courses/edit/#{course.id}") Editar
						="-"
						a(href="/courses/#{course.id}/delete") Eliminar