extends ../layout.jade
block contenido
	div(class="col-md-5 center-block quitar-float top-space text-left")
		h1 Editar Curso
		form(method="POST" action="/courses/#{course.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" name="title" value="#{course.title}" placeholder="Nombre del Curso" class="form-control")
			div(class="form-group")
				label Descripción
				textarea(name="description" placeholder="Descripción del Curso" class="form-control")
					=course.description
			div(class="form-group")
				label Costo
				input(type="number" name="pricing" value="#{course.pricing}" placeholder="0" class="form-control")
			div(class="form-group")
				label Imagen del Curso
				input(type="file" name="image_avatar")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")