extends ../layout.jade
block contenido
	h2(class="Pacifico grande azul") Cursos
	p Los Mejores Contenidos en Trossy Virtual
	each course in courses
		div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
			h3(class="Pacifico")= course.title
			img(src="#{course.image.url}" class="col-xs-7 col-md-4 quitar-float")
			p(style="margin-top:1em;") #{course.pricing} USD 

