doctype html
html(lang="en")
	head
		title Trossky Garcia
		meta(charset="utf-8")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
		link(href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
	body
		div(class="col-md-3 center-block quitar-float text-center espacio-arriba")
			img(src="images/curso-online.png" class="animated fadeIn ")
			h1(class="Pacifico grande verde animated fadeIn retraso-1") Trossky Garcia
			div(class="animated fadeInDown retraso-2")
				h2 Nada como un buen  WebSite!
				nav(class="madiano")
					a(href="/courses" title="Cursos" class="espacio-derecha") Cursos
					a(href="contacto.html" title="Contacto" class="espacio-derecha") Contacto
					a(href="acerca.html" title="Acerca de" class="espacio-derecha") Acerca de
		div(class="text-center mediano animated fadeInUp retraso-3")
			p La comunidad Trossky Garcia, les da la bienvenida...
			p Chequen los contenidos, la verdad estan interezantes!
