doctype html
html(lang="en")
	head
		title Trossky Garcia
		meta(charset="utf-8")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/animate.css")
		link(href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
	body
		nav(class="se-gris padding-largo text-center")
			ul(class="no-lista")
				li(class="col-md-3  inline-block Pacifico")
					a(href="/" class="mediano verde") Trossky Garcia #[small(class="lato small") Nada como un buen  WebSite!]
				li(class="col-md-3  inline-block")
					a(href="/courses") Cursos
				li(class="col-md-3  inline-block")
					a(href="contacto.html") Contacto
				li(class="col-md-3  inline-block")
					a(href="acerca.html") Acerca de
		block contenido



